OPENAI_API_KEY=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
OPENAI_BASE_URL=https://api.openai.com/v1
